{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Isnad</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href={% static 'img/logo.jpg' %} rel="icon">
  <link href={% static 'img/logo.jpg' %} rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href={% static 'vendor/aos/aos.css' %} rel="stylesheet">
  <link href={% static 'vendor/bootstrap/css/bootstrap.min.css' %} rel="stylesheet">
  <link href={% static 'vendor/bootstrap-icons/bootstrap-icons.css' %} rel="stylesheet">
  <link href={% static 'vendor/glightbox/css/glightbox.min.css' %} rel="stylesheet">
  <link href={% static 'vendor/swiper/swiper-bundle.min.css' %} rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href={% static 'css/style.css' %} rel="stylesheet">
  <link href={% static 'css/contenue_filiere.css' %} rel="stylesheet">
  <link rel="stylesheet" href={% static 'css/csss.css' %} rel="stylesheet">
  <link rel="stylesheet" href={% static 'css/dd.css' %} rel="stylesheet">

  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-E8M6QLKH1B');
  </script>
  <!-- =======================================================
  * Template Name: Rapid - v4.7.1
  * Template URL: https://bootstrapmade.com/rapid-multipurpose-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href={% url 'index' %}><img src={% static 'img/logo.jpg' %} alt=""> </a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index" class="logo me-auto"><img src="img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href={% url 'index' %}>ACCEUIL</a></li>
         
          <li class="dropdown"><a href="#"><span>Formations</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li class="dropdown"><a href="#">Brevet d'étude téchnicien (BTS)<span></span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href={% url 'ida' %}>Bts Informatique Developpeur d'Application(IDA)</a></li>
                  <li><a href={% url 'gbat' %}>Bts Genie Civil Option Batiment(GBAT)</a></li>
                  <li><a href={% url 'fcge' %}>Bts Finance Comptabilite Gestion d'Entreprise(FCGE)</a></li>
                  <li><a href={% url 'rhcom' %}>Bts Ressources Humaines Communications(RHCOM)</a></li>
                  <li><a href={% url 'gescom' %}>Bts Gestion Commerciale(GESCOM)</a></li>
                  <li><a href={% url 'th' %}>Bts Tourisme Hotellerie(TH)</a></li>
                  <li><a href={% url 'ad' %}>Bts Assistanat de Direction (AD)</a></li>
                  <li><a href={% url 'log' %}>Bts Logistique(LOG)</a></li>
                </ul>
              </li>
              <li><a href="#">licence</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href={% url 'preinscription' %}>PRE-INSCRIPTION</a></li>  
          <li><a class="nav-link scrollto" href="#">actualite</a></li>
          <li><a class="nav-link scrollto" href={% url 'contact' %}>Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

       <div class="social-links">
        
        <a href="https://web.facebook.com/Institut-ISNAD-102632122513054" class="facebook"><i class="bi bi-facebook"></i></a>
      </div>

    </div>
  </header><!-- End Header -->
  
</p>
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href={% url 'index' %}>Acceuil</a></li>
          <li>Fcge</li>
        </ol>
        <h2></h2>

      </div>
    </section><!-- End Breadcrumbs -->
    <section class="section-page">
      <div class="container">
          <div class="row">
              <div class="col-md">
                  <div class="row mb-5">
                      <div class="col-md-4">
                          <img class="fullWidth" src="https://ifsm.ci/asset_1/storage/image/faculty/faculty-13.jpg" alt="">
                      </div>
                      <div class="col-md">
                          <h4 class="fontTitle colorSecondary">
                              BTS Finances Comptabilité &amp; Gestion des Entreprises
                          </h4>
                          <div>
                              <p class="text-justify">
                                  La comptabilité est certes un vieux métier mais reste d&#039;actualité et constitue un domaine qui recrute tout le temps. Etre bien formé et maitriser les logiciels du métiers est assurément aujourd&#039;hui un gage d&#039;insertion rapide dans le monde professionnel.
                              </p>
                          </div>
                      </div>
                  </div>
  
  
                                  <div class="cardBgGray">
                      <h5 class="fontTitle colorBlack title-section">
                          Objectifs de la formation
                      </h5>
                      <p>
                          Former les futurs gestionnaires d’entreprises mais aussi des cadres moyens maîtrisant les nouvelles méthodes de gestion comptables et financières. Le titulaire du BTS en FCGE peut directement intégrer la vie active dans diverses branches d’activité. Ce BTS est aussi le début de la célèbre formation de l’expert-comptable.
                      </p>
                  </div>
                  
                                  <div class="cardBgGray">
                      <h5 class="fontTitle colorBlack title-section">
                          Durée
                      </h5>
                      <p>
                          Deux ans de formation pour les titulaires du BAC
  Trois ans de formation pour les candidats de niveau terminal remplissant les conditions de recrutement.
                      </p>
                  </div>
                  
                                  <div class="cardBgGray">
                      <h5 class="fontTitle colorBlack title-section">
                          Conditions d’admission
                      </h5>
                      <p>
                          Bac  B, C,D G2, le BT de la spécialité ou tout autre diplôme jugé équivalent par le Ministère ou avoir obtenu au moins 08/20 à ces différents examens
                      </p>
                  </div>
                  
                                  <div class="cardBgGray">
                      <h5 class="fontTitle colorBlack title-section">
                          Perspectives professionnelles
                      </h5>
                      <p>
                          A la fin de cette formation le titulaire du BTS Finances Comptabilité et gestion des entreprises exercer les fonctions suivantes : 
  Assistant Comptable, Chef Comptable, Responsable Administratif et Financier, Assistant Comptable dans les Entreprises et les Cabinets Comptables, Assistant Contrôleur de Gestion, Chef de Service Approvisionnement
  Assistant de gestion des PME/PMI,Polyv
                      </p>
                  </div>
                  
                                  <div class="cardBgGray">
                      <h5 class="fontTitle colorBlack title-section">
                          Stage
                      </h5>
                      <p>
                          Un stage de trois (3) mois est garanti par l’Institut. Plus de cinquante entreprises partenaires reçoivent ou embauchent nos stagiaires chaque année.
                      </p>
                  </div>
                  
                                  <div class="cardBgGray">
                      <h5 class="fontTitle colorBlack title-section">
                          Reconnaissance de la formation
                      </h5>
                      <p>
                          Le BTS en Finance Comptabilité et Gestion d&#039;entreprise est un diplôme de l&#039;Etat ivoirien
                      </p>
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn-get-started scrollto"><a href={% url 'preinscription' %}>pré-inscription</a></button>
                </div>
            </div>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="section-bg">
    <div class="footer-top">
      <div class="container">



    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Isnad</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Rapid
      -->
 
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src={% static 'vendor/purecounter/purecounter.js' %}></script>
  <script src={% static 'vendor/aos/aos.js' %}></script>
  <script src={% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}></script>
  <script src={% static 'vendor/glightbox/js/glightbox.min.js' %}></script>
  <script src={% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}></script>
  <script src={% static 'vendor/swiper/swiper-bundle.min.js' %}></script>
  <script src={% static 'vendor/php-email-form/validate.js' %}></script>

  <!-- Template Main JS File -->
  <script src={% static 'js/main.js' %}></script>


</body>

</html>